setuptools
wheel
python-dotenv
pre-commit
colorlog
pytest
pathlib
PyYAML
pydantic
pydantic-settings

# Aviz92 Public packages
custom-python-logger
pytest-plugins

instructor
langchain
openai
anthropic
google-genai
