setuptools
wheel
python-dotenv
pre-commit
colorlog
pytest
pathlib
PyYAML
pydantic
pydantic-settings

instructor
langchain
openai
anthropic
google-genai

# Aviz92 Public packages
custom-python-logger
pytest-plugins
